@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');


/* @font-face {
  font-family: Rubik;
  src: url('../assets/fonts/Rubik.ttf');
} */

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 300 !important;
}

body.body--light {
  /* background-color: #ECF3F3 !important; */
  background-color: #012121;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

body.body--dark {
  background-color: #012121 !important;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

.overlay {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: all 0.5s 0s ease-in-out;
  -moz-transition: all 0.5s 0s ease-in-out;
  -o-transition: all 0.5s 0s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

p,
a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bg-grad {
  background-image: linear-gradient(to right bottom, #3b7bf6, #a866db, #da53b2, #ef4f84, #ed5f59);
}

.text-grad {
  background: -webkit-linear-gradient(-70deg, #3b7bf6, #a866db, #da53b2, #ef4f84, #ed5f59);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

#registration-container {
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, #3b7bf6, #a866db, #da53b2, #ef4f84, #ed5f59);
  position: relative !important;
}

.pt-brand {
  text-align: center;
  padding: 20px 0px 0px 0px;
}

.pt-brandname {
  color: #EAEEFF;
  font-size: 28px;
}

.pt-get-started {
  width: 100%;
  min-height: calc(100vh - 152px);
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  background-color: #F9F8FF;
  padding-top: 28px;
}

.br-15 {
  border-radius: 15px !important;
}
.q-dialog__inner--bottom:not(.q-dialog__inner--animating) > div.br-15 {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.br-40 {
  border-radius: 40px !important;
}

.pt-dark {
  background: #273746 !important;
}

.pt-dark-card {
  background: #1C2833 !important;
}

.pt-dark-card-2 {
  background: #212F3D !important;
}

.pt-dark-label {
  color: #fff !important;
}

.pt-dark-box-shadow {
  box-shadow: 2px 2px 2px 2px #212F3D !important;
}

.bex.q-body--prevent-scroll {
  position: unset !important;
}

.pp-fcolor {
  color: #000 !important;
}

.text-underline {
  text-decoration: underline;
}