@use 'shared.scss';

body.theme-default {
  /* ----- VARIABLES ----- */
  $color_4: #fff;
  $color_6: #42a5f5;

  $text_blue_9: #1565c0;
  $bg_card_dark: #1c2833;
  $bg_gradient: linear-gradient(
    to right bottom,
    #3b7bf6,
    #a866db,
    #da53b2,
    #ef4f84,
    #ed5f59
  );
  
  /* ----- GLOBAL ----- */
  body {
    @include shared.body-prop;
  }

  p, a {
    @include shared.user-select-none;
  }

  /* ----- IDS ----- */
  #registration-container {
    min-height: 100vh;
    background-image: $bg_gradient;
    position: relative !important;

    .q-field--dark {
      .q-field__control {
        color: shared.$brand_blue !important;
      }

      .q-field__native {
        color: black !important;
      }
    }
  }

  #bch-card {
    background-image: linear-gradient(
      to right bottom,
      #3b7bf6,
      #5f94f8,
      #df68bb,
      #ef4f84,
      #ed5f59
    );
  }
  
  #apps {
    padding: 20px 20px 80px 20px;
    color: #3b7bf6;
  }
  

  #app-container,
  #apps-page-container {
    &.dark {
      background: #273746 !important;
    }

    &.light {
      background-color: #ecf3f3 !important;
    }
  }

  /* ----- CLASSES ----- */
  .bg-grad,
  .bg-grad.button {
    background-image: $bg_gradient !important;
  }
  .text-grad {
    background: -webkit-linear-gradient(
      -70deg,
      #3b7bf6,
      #a866db,
      #da53b2,
      #ef4f84,
      #ed5f59
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

  .pt-card {
    &.dark {
      background: $bg_card_dark !important;
    }

    &.light {
      background-color: white;

      &.btn-transaction-bg {
        background-color: #f2f3fc !important;
      }
    }
  }

  .pt-card-2 {
    &.dark {
      background: #273746;
    }

    &.light {
      background-color: white;
    }
  }

  .pt-card-3 {
    background: #273746 !important;
  }

  .pt-label {
    &.dark {
      color: $color_4;
    }

    &.light {
      color: black;
    }
  }

  .price-chart-card {
    &.dark {
      background: #273746;
    }
    &.light {
      background: #ECF3F3
    }
  }

  .wallet-card {
    &.dark {
      background: $bg_card_dark;
    }

    .title {
      color: $text_blue_9;
    }

    .bottom-border {
      &.dark {
        border-bottom-color: grey;
      }

      &.light {
        border-bottom-color: #dae0e7;
      }
    }

    .address,
    .market-currency {
      color: gray;
    }
  }

  .method-cards {
    height: 78px;
    min-width: 150px;
    border-radius: 16px;
    background-image: linear-gradient(
      to right bottom,
      #3b7bf6,
      #5f94f8,
      #df68bb,
      #ef4f84,
      #ed5f59
    );
    box-shadow: 2px 2px 2px 2px #f2f2fc;
  }
  .method-cards-dark {
    background-image: linear-gradient(
      to right bottom,
      #204589,
      #35538b,
      #813c6d,
      #9c3356,
      #a5403d
    );
  }

  .selected {
    box-shadow: 1px 2px 2px 2px rgba(83, 87, 87, 0.2) !important;
  }

  .pt-app {
    border-radius: 10px;
  }

  .fixed-footer {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    &.dark {
      background-color: $bg_card_dark;
    }

    &.light {
      background-color: white;
    }

    .footer-icon-btn {
      &.dark {
        color: white;
      }
    }
  }

  .bg-pink {
    background: #ef4f84;
  }

  .btn-scan {
    background-image: $bg_gradient;
  }

  .group-currency {
    &.dark {
      background: $bg_card_dark;
    }

    &.light {
      background: white;
    }

    .text-token {
      &.dark {
        color: #ec407a;
      }

      &.light {
        color: var(--q-dark);
      }
    }

    .amount-text {
      font-size: 18px;
      overflow-wrap: anywhere;

      &.dark {
        color: #9e9e9e;
      }
    }
  }

  .network-selection-tab {
    color: $color_6 !important;

    &.q-tab--active {
      &.dark {
        color: rgba(66, 165, 245, 1) !important;
      }

      &.light {
        color: shared.$brand_blue !important;
      }
    }

    &.q-tab--inactive {
      &.dark {
        color: $color_6 !important;
      }

      &.light {
        color: #000 !important;
      }
    }
  }

  .button {
    background: shared.$brand_blue !important;
    color: white !important;

    &.button-text-primary {
      background: transparent !important;
      color: shared.$brand_blue !important;
    }

    &.button-text-secondary {
      background: transparent !important;
      color: shared.$brand_blue !important;
    }

    &.button-icon {
      background: transparent !important;
      color: shared.$brand_blue !important;
    }
  }

  .settings-button {
    color: #3b7bf6;
  }

  .ignored-tokens-button {
    &.dark {
      background: shared.$brand_blue !important;
    }

    &.light {
      background-color: white !important;
    }
  }

  .transaction-container, .points-earned-div {
    &.dark {
      background-color: #212f3d;
    }

    &.light {
      background-color: #f9f8ff;
    }
  }

  .btn-custom.dark,
  .section-title.dark {
    color: $color_4 !important;
  }

  .btn-custom {
    &.light {
      color: #4c4f4f !important;
    }

    &.active-transaction-btn {
      background-color: rgb(60, 100, 246) !important;
      color: #fff !important;
    }
  }

  .section-title.light {
    color: #444646;
  }

  .transactions-wallet {
    &.type,
    &.amount,
    &.date {
      &.light {
        color: #4c4f4f;
      }
    }

    &.type,
    &.date {
      &.dark {
        color: $color_4;
      }
    }

    &.amount.dark,
    &.market-value {
      color: #9e9e9e;
    }
  }

  .bg-button-toggle {
    background: shared.$brand_blue !important;
  }

  .q-btn.q-btn--rounded.bg-amber {
    background-color: shared.$brand_blue !important;
  }

  .pin-icon {
    color: shared.$brand_blue;
  }
}
