body.theme-default {
  $color_1: #eaeeff;
  $color_2: rgb(60, 100, 246);
  $color_3: #ecf3f3;
  $color_4: #fff;
  $color_5: #000;
  $font-family_1: "Rubik", sans-serif;
  $background-color_1: #012121;
  $background-color_2: #f9f8ff;
  $background-color_3: #ecf3f3;

  @import "https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap";

  body {
    font-family: $font-family_1;
    font-weight: 300 !important;
  }

  p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .bg-grad {
    background-image: linear-gradient(
      to right bottom,
      #3b7bf6,
      #a866db,
      #da53b2,
      #ef4f84,
      #ed5f59
    );
  }
  .text-grad {
    background: -webkit-linear-gradient(
      -70deg,
      #3b7bf6,
      #a866db,
      #da53b2,
      #ef4f84,
      #ed5f59
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
  }
  #registration-container {
    min-height: 100vh;
    background-image: linear-gradient(
      to right bottom,
      #3b7bf6,
      #a866db,
      #da53b2,
      #ef4f84,
      #ed5f59
    );
    position: relative !important;
  }
  #bch-card {
    margin: 0px 20px 10px 20px;
    border-radius: 15px;
    background-image: linear-gradient(
      to right bottom,
      #3b7bf6,
      #5f94f8,
      #df68bb,
      #ef4f84,
      #ed5f59
    );
  }
  #apps {
    padding: 20px 20px 80px 20px;
    color: #3b7bf6;
  }
  .pt-brand {
    text-align: center;
    padding: 20px 0px 0px 0px;
  }
  .pt-brandname {
    color: $color_1;
    font-size: 28px;
  }
  .pt-get-started {
    width: 100%;
    min-height: calc(100vh - 152px);
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    background-color: $background-color_2;
  }
  .br-15 {
    border-radius: 15px !important;
  }
  .br-40 {
    border-radius: 40px !important;
  }
  .text-brandblue {
    color: $color_2 !important;
  }
  .bg-brandblue {
    background: rgb(60, 100, 246) !important;
  }
  .text-brandlight {
    color: $color_3 !important;
  }
  .bg-brandlight {
    background-color: $background-color_3 !important;
  }
  .pt-dark {
    background: #273746 !important;
  }
  .pt-dark-card {
    background: #1c2833 !important;
  }
  .pt-dark-card-2 {
    background: #212f3d !important;
  }
  .pt-dark-label {
    color: $color_4 !important;
  }
  .pt-dark-box-shadow {
    box-shadow: 2px 2px 2px 2px #212f3d !important;
  }
  .bex.q-body--prevent-scroll {
    position: unset !important;
  }
  .pp-fcolor {
    color: $color_5 !important;
  }

  .method-cards {
    height: 78px;
    min-width: 150px;
    border-radius: 16px;
    background-image: linear-gradient(
      to right bottom,
      #3b7bf6,
      #5f94f8,
      #df68bb,
      #ef4f84,
      #ed5f59
    );
    box-shadow: 2px 2px 2px 2px #f2f2fc;
  }
  .method-cards-dark {
    background-image: linear-gradient(
      to right bottom,
      #204589,
      #35538b,
      #813c6d,
      #9c3356,
      #a5403d
    );
    /* background-image: linear-gradient(to right bottom, #CACFD2, #A6ACAF, #717D7E, #5F6A6A, #515A5A); */
    /* background: #717D7E; */
  }

  .selected {
    box-shadow: 1px 2px 2px 2px rgba(83, 87, 87, 0.2) !important;
  }

  .pt-app {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .fixed-footer {
    background-color: #fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}
