@use 'shared.scss';

body.theme-overhaul {
  /* ----- VARIABLES ----- */
  // $color_4: #fff;
  $dark_txt: #282A37;
  $dark_bg: #0F1928;
  $dark_bg_2: #212f3d;
  $light_bg: #F8FAFC;
  $colored_bg: #D9EDFF;
  $header_nav_bg: #15315C;
  $gradient_bg: linear-gradient(
    #000E25,
    #4C8BED
  );

  /* ----- GLOBAL ----- */
  body {
    @include shared.body-prop;
  }

  p, a {
    @include shared.user-select-none;
  }

  /* ----- IDS ----- */
  #app-container {
    &.dark {
      background: $dark_bg_2 !important;
    }

    &.light {
      background-color: $light_bg !important;
    }
  }

  #gradient-panel {
    background-image: $gradient_bg;
/*    height: 227px;*/
    width: 100%;
    /*position: absolute;
    z-index: 0;*/
  }

  /* ----- CLASSES ----- */
  .footer-menu {
    // height: 67px;
    position: fixed;
/*    border-top: 3px $light_bg solid;*/
    bottom: 0;
    width: 100%;
    background: $dark_bg;
    z-index: 6;
    -webkit-mask-image: radial-gradient(circle at top, transparent 30px, black 31px);

  }
  .header-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $header_nav_bg;
    z-index: 6;
  }
  .page-content {
    z-index: 1;
  }

  /* Typography */
  .headline-large {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0;
    font-weight: 700;
  }
  .headline-small {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0;
    font-weight: 700;
  }

  .title-large {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 700;
  }
  .title-medium {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1%;
    font-weight: 600;
  }
  .title-small {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2%;
    font-weight: 800;
  }
  .title-smaller {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2%;
    font-weight: 600;
  }

  .label-medium {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2%;
    opacity: 50%;
    font-weight: 400;
  }
  .label-small {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2%;
    opacity: 50%;
    font-weight: 400;
  }

  .body-large {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5%;
    font-weight: 400;
  }
  .body-medium {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5%;
    font-weight: 400;
  }
  .body-small {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2%;
    font-weight: 400;
  }

  /* Color */
  .text-light {
    color: #FFF
  }
  .text-dark {
    color: $dark_txt
  }
  .text-primary {
    color: $primary
  }
  .text-royal-blue {
    color: #295BF6;
  }
  .text-link {
    color: #33739B;
  }
  .text-outgoing {
    color: #EF4444;
  }
  .text-incoming {
    color: #22C55E;
  }

  /* Cards  */
  .card-light {
    background-color: #FFF;
    color: $dark_txt;
  }
  .card-dark {
    background-color: #0F1928;
    color: #fff;
  }
  .card-colored {
    background-color: #D9EDFF;
    color: #000;
  }

  // Buttons
  .button-default {
    background-color: $primary !important;
    color: #fff !important;
  }
  .button-light {
    background-color: #fff !important;
    color: #415C87 !important;
  }
  .button-red {
    background-color: #F05253;
    color: #fff;
  }


  /* Custom Elements  */
  .gradient-bg {
    background-image: $gradient_bg !important;
  }
  .default-bg {
    background-color: $header_nav_bg !important;
  }
  .dark-bg {
    background-color: $dark_bg !important;
  }

}
