@use 'shared.scss';

body.theme-overhaul {
  /* ----- VARIABLES ----- */
  // $color_4: #fff;
  $dark_txt: #282A37;
  $dark_bg: #0F1928;
  $light_bg: #F8FAFC;
  $colored_bg: #D9EDFF;
  $header_nav_bg: #15315C;
  $gradient_bg: linear-gradient(to bottom, #3b7bf6, #3b90fc, #4ba4ff, #64b6ff, #81c8ff); 
  /*linear-gradient(#000E25,#4C8BED);*/

  /* ----- GLOBAL ----- */
  body {
    @include shared.body-prop;
  }

  p, a {
    @include shared.user-select-none;
  }

  /* ----- IDS ----- */
  #app-container {
    &.dark {
      background: $dark_bg !important;
    }

    &.light {
      background-color: $light_bg !important;
    }
    &.grad {
      /*background-image: linear-gradient(to bottom, #3b7bf6, #4e88f9, #6094fb, #71a1fd, #82adff) !important;*/
      /*background-image: linear-gradient(to bottom, #3b7bf6, #5891FF, #93B8FF, #afc4fe, #d0ddff);*/
      /*background-image: linear-gradient(to bottom, #3b7bf6, #5f8df9, #7c9ffb, #96b2fd, #afc4fe);*/
      background-image: $gradient_bg;
    }
  }

  #apps-page-container {
    &.dark {
      background: #273746 !important;
    }

    &.light {
      background-color: #ecf3f3 !important;
    }
    &.grad {
      /*background-image: linear-gradient(to bottom, #3b7bf6, #4e88f9, #6094fb, #71a1fd, #82adff) !important;*/
      /*background-image: linear-gradient(to bottom, #3b7bf6, #5891FF, #93B8FF, #afc4fe, #d0ddff);*/
      background-image: linear-gradient(to bottom, #3b7bf6, #5f8df9, #7c9ffb, #96b2fd, #afc4fe);
       /*background-image: linear-gradient(to top, #bac2e8, #acb7e6, #9dace4, #8ea1e1, #7e97df);*/
    }
  }

  #gradient-panel {
    background-image: $gradient_bg;
    height: 227px;
    width: 100%;
    position: absolute;
    z-index: 0;
  }

  /* ----- CLASSES ----- */
  .footer-menu {
    // height: 67px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #4174d9;
    z-index: 6;  
    box-shadow: 0px 0px 15px rgba(59, 123, 246, 0.8); 

  }
  .header-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 6;
  }
  .page-content {
    z-index: 1;
  }

  // Typography
  .headline-large {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0;
    font-weight: 700;
  }
  .headline-small {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0;
    font-weight: 700;
  }

  .title-large {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 700;
  }
  .title-medium {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1%;
    font-weight: 600;
  }
  .title-small {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2%;
    font-weight: 800;
  }
  .title-smaller {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2%;
    font-weight: 600;
  }

  .label-medium {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2%;
    opacity: 50%;
    font-weight: 400;
  }
  .label-small {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2%;
    opacity: 50%;
    font-weight: 400;
  }

  .body-large {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5%;
    font-weight: 400;
  }
  .body-medium {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5%;
    font-weight: 400;
  }
  .body-small {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2%;
    font-weight: 400;
  }

  // Color
  .text-light {
    color: #FFF
  }
  .text-dark {
    color: $dark_txt
  }
  .text-primary {
    color: #3b7bf6;/*$primary*/
  }
  .text-royal-blue {
    color: #295BF6;
  }
  .text-link {
    color: #33739B;
  }
  .text-outgoing {
    color: #EF4444;
  }
  .text-incoming {
    color: #22C55E;
  }

  // Cards
  .card-light {
    background-color: #FFF;
    color: $dark_txt;
  }
  .card-dark {
    background-color: #0F1928;
    color: #fff;
  }
  .card-colored {
    background-color: #D9EDFF;
    color: #000;
  }

  // Buttons
  /*.button-default {
    background-color: $primary !important;
    color: #fff !important;
  }*/
  .button-default {
    background-color: #3b7bf6 !important;
    color: #fff !important;
  }
  .button-light {
    background-color: #fff !important;
    color: #3b7bf6 !important;
  }
  .button-red {
    background-color: #F05253;
    color: #fff;
  }


  // Custom Elements
  .gradient-bg {
    background-image: linear-gradient(to bottom, #3b7bf6, #6993fa, #8dacfc, #afc4fe, #d0ddff) !important;
  }
  .dark-bg {
    background-color: $dark_bg !important;
  }
  .method-cards {
    height: 78px;
    min-width: 150px;
    border-radius: 16px;
    background-image: $gradient_bg;
    box-shadow: 2px 2px 2px 2px #f2f2fc;
  }
}
