@use 'shared.scss';

body.theme-payhero {
  /* ----- VARIABLES ----- */
  $color_4: #fff;
  $color_9: #ececec;

  $brand_yellow: #ffbf00;
  $button_yellow: #9b8447;
  $label-white: #e0e2e5;
  $wallet_card: #111c2c;
  $wallet_address: #949494;
  $footer-bar: #1f1f1f;
  $transactions-text: #cecece;
  $transactions-subtext: #7e7e7e;
  $black_opaque_50: rgba(0, 0, 0, 0.5);

  $background-color_1: #012121;
  $background-blue: #4872b8;
  $bg_info_banner: #273746;
  $bg_container_dark: #1a2a43;
  $bg_container_light: #475d82;
  $bg_card_dark: #1c2833;

  /* ----- GLOBAL ----- */
  body {
    @include shared.body-prop;

    &.body--light {
      @include shared.body-transition;
      background-color: $background-color_1;
    }
    &.body--dark {
      @include shared.body-transition;
      background-color: $background-color_1 !important;
    }
  }

  p, a {
    @include shared.user-select-none;
  }

  /* ----- IDS ----- */
  #registration-container {
    min-height: 100vh;
    background-image: linear-gradient(
      to right bottom,
      #3b7bf6,
      #3681e8,
      #318bda,
      #2c95cc,
      #279fbe
    );
    position: relative !important;

    .q-field--dark {
      .q-field__control,
      .q-field__native {
        color: black !important;
      }
    }
  }

  #bch-card {
    background: $black_opaque_50;
    box-shadow: none !important;
  }

  #apps-page-container {
    padding: 0px 0px 100px 0px;
  }

  #context-menu {
    color: $brand_yellow !important;
  }

  #app-container,
  #apps-page-container {
    &.dark {
      background: linear-gradient(
        180deg,
        $background-blue 0%,
        #000 100%
      ) !important;
    }

    &.light {
      background: linear-gradient(
        180deg,
        #fff 0%,
        $brand_yellow 100%
      ) !important;
    }

    &.bridge-swap-form {
      background: transparent !important;
    }
  }

  /* ----- CLASSES ----- */

  .bg-grad {
    background: $black_opaque_50;

    &.swipe {
      &.dark {
        background: linear-gradient(
          360deg,
          $background-blue 0%,
          #000 100%
        ) !important;
      }

      &.light {
        background: linear-gradient(
          360deg,
          #fff 0%,
          $brand_yellow 100%
        ) !important;

        .text-grey-4 {
          color: $footer-bar !important;
        }
      }
    }
  }

  .text-grad,
  .wallet-card .title {
    background: -webkit-linear-gradient(270deg, $brand_yellow 0%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

  .text-grad.max-button.light {
    background: unset;
    -webkit-text-fill-color: unset;
    color: $wallet_card !important;
  }

  .asset-card-border {
    background-color: transparent !important;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 16px;
      border: 1px solid transparent;
      background: linear-gradient(180deg, $brand_yellow 0%, #fff 100%)
        border-box;
      -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
  }

  .apps-border {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 999px;
      border: 2px solid transparent;
      background: linear-gradient(180deg, $brand_yellow 0%, #fff 100%)
        border-box;
      -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
  }

  .pt-card {
    &.dark {
      background: $bg_card_dark !important;

      &.registration-card {
        background: $button_yellow !important;
        border: 2px solid #13212c !important;
  
        .divider {
          border-bottom: 2px solid #13212c;
        }
      }
    }

    &.light {
      background-color: white;

      &.btn-transaction-bg {
        background-color: transparent !important;
      }
    }
  }

  .pt-card-2 {
    &.dark {
      background: $bg_info_banner;

      &.registration {
        background: linear-gradient(
          165.26deg,
          rgba(69, 110, 177, 0.95) -18.47%,
          rgba(0, 0, 0, 0.95) 65.31%
        ) !important;
      }
    }
    
    &.light {
      background-color: white;
    }
  }

  .pt-card-3 {
    background: linear-gradient(
      180deg,
      $background-blue 0%,
      #000 100%
    ) !important;
  }

  .pt-label {
    &.dark {
      color: $label-white;
    }

    &.light {
      color: black;
    }
  }

  .price-chart-card {
    &.dark {
      background: $wallet_card;
    }
    &.light {
      background: #ECF3F3
    }
  }

  .wallet-card {
    &.dark {
      background: rgba(17, 28, 44, 0.95);
    }

    &.light {
      background: rgba(155, 132, 71, 0.95);
    }

    .bottom-border {
      border-bottom-color: $wallet_address;
    }

    .asset-balance.light,
    .market-currency.light {
      color: $label-white !important;
    }

    .address {
      font-weight: 300;

      &.dark {
        color: $wallet_address;
      }

      &.light {
        color: $footer-bar;
      }
    }
  }

  .pt-header {
    background: $black_opaque_50 !important;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;

    &.home-header {
      background: transparent !important;
      padding-top: 0;
    }

    &.apps-header {
      padding-bottom: 1px !important;
      margin-bottom: 20px;
    }
  }

  .pt-app {
    border-radius: 999px;
  }

  .fixed-container {
    background: transparent !important;
  }

  .logo-splash-bg {
    background-image: url(../assets/themes/payhero/payhero_logo_bg.png) !important;
    background-size: cover !important;
  }

  .method-cards {
    background: $black_opaque_50 !important;
    box-shadow: none !important;
  }

  .text-section,
  .pin-icon {
    color: $brand_yellow !important;
  }

  .btn-transaction {
    background: transparent !important;
  }

  .fixed-footer {
    background-color: $footer-bar !important;

    .footer-icon-btn {
      color: $transactions-text;
      font-weight: 300;
    }
  }

  .collectibles-panel {
    background: transparent !important;
  }

  .apps-header {
    margin-bottom: 10px;

    &.gift-app-header {
      padding: 0 !important;
      margin-bottom: 0 !important;
    }
  }

  .network-selection-tab {
    margin-top: 10px;
    border-radius: 17px;

    &.q-tab--active {
      background-color: $black_opaque_50 !important;
      color: $brand_yellow !important;
    }

    &.q-tab--inactive {
      color: #f2f2f2 !important;

      &.light {
        color: #333333 !important;
      }
    }

    &.transactions-page.q-tab--active {
      background-color: transparent !important;
    }

    &.denominations-tab {
      &.main-tab {
        margin-top: 20px;
      }

      &.q-tab--active {
        border: 2px solid $black_opaque_50;
      }

      &.q-tab--inactive {
        border: 2px solid $transactions-text;
      }
    }
  }

  .bg-payhero,
  .bg-toggle {
    background: $brand_yellow !important;
  }

  .bg-button-toggle {
    background: $button_yellow !important;
  }

  .q-toggle {
    > .q-toggle__inner--truthy,
    > .q-toggle__inner--falsy {
      color: $brand_yellow !important;
    }

    &.legacy-address.light {
      > .q-toggle__inner--truthy,
      > .q-toggle__inner--falsy {
        color: shared.$brand_blue !important;
      }
    }
  }

  .button,
  .bg-toggle-active {
    background: $button_yellow !important;
    color: white !important;

    &.button-text-primary {
      background: transparent !important;

      &.dark {
        color: $brand_yellow !important;
      }

      &.light {
        color: $background-blue !important;
      }
    }

    &.button-text-secondary {
      background: transparent !important;
      color: $button_yellow !important;
    }

    &.button-icon {
      background: transparent !important;

      &.dark {
        color: $brand_yellow !important;
      }

      &.light {
        color: $footer-bar !important;
      }
    }

    &.show-tokens-label {
      margin-top: 5px !important;
    }

    &.payment-methods {
      font-weight: 300;
      &.light {
        font-weight: 500 !important;
      }
    }
  }

  .ignored-tokens-button {
    &.dark {
      background: $button_yellow !important;
    }

    &.light {
      background-color: white !important;
    }
  }

  .q-item.q-item--active,
  .q-field--dark .q-field__control,
  .q-checkbox__inner--truthy,
  .q-checkbox__inner--indet,
  .text-slider {
    color: $brand_yellow !important;

    &.text-negative {
      color: var(--q-negative) !important;
    }
  }

  .q-field .q-field__control {
    color: $footer-bar;
  }

  .group-currency {
    border-radius: 6px;

    &.dark {
      background: $bg_container_dark;
    }

    &.light {
      background: $bg_container_light;
    }

    .text-token.light {
      color: $label-white;
    }

    .amount-text {
      font-size: 16px;
      overflow-wrap: anywhere;

      &.dark {
        color: $label-white;
        font-weight: 300;
      }
    }
  }

  .settings-button.light {
    color: $background-blue;
  }

  .price-chart-icon.light {
    background: $background-blue !important;
  }

  .transaction-container, .points-earned-div {
    &.dark {
      background-color: $bg_container_dark;
    }

    &.light {
      background-color: $button_yellow;
    }
  }

  .points-earned-div:not(:has(.payhero)) {
    color: white !important;
  }

  .btn-custom {
    background: -webkit-linear-gradient(270deg, $brand_yellow 0%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &.border {
      background-color: transparent !important;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 17px;
        border: 1px solid transparent;
        background: linear-gradient(180deg, $brand_yellow 0%, #fff 100%)
          border-box;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box,
          linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
      }
    }

    &.fiat-tab {
      background: unset;
      background-clip: unset;
      -webkit-background-clip: unset;
      -webkit-text-fill-color: unset;
      -webkit-box-decoration-break: unset;
      box-decoration-break: unset;
      
      &.dark {
        color: white;
      }
    }
  }

  .section-title {
    &.dark {
      color: $brand_yellow;

      &.transaction-wallet {
        font-weight: 300;
      }
    }

    &.light {
      color: white;
    }
  }

  .transactions-wallet {
    &.type,
    &.amount {
      &.dark {
        color: $transactions-text !important;
      }

      &.light {
        color: white !important;
      }
    }

    &.date,
    &.market-value {
      &.dark {
        color: $transactions-subtext !important;
      }

      &.light {
        color: $transactions-text !important;
      }
    }
  }

  .pt-keyboard-container {
    &.dark {
      background: $footer-bar !important;
    }

    &.light {
      background: $label-white !important;
    }
  }

  .q-pagination {
    &.dark {
      [aria-current='true'] {
        background: $brand_yellow !important;
        color: black !important;
      }
      [aria-current='false'] {
        color: $brand_yellow !important;
      }
    }
    &.light {
      [aria-current='true'] {
        background: $footer-bar !important;
      }
      [aria-current='false'] {
        color: $footer-bar !important;
      }
    }
  }

  .product-q-item {
    &.q-item.q-item--active {
      color: shared.$brand_blue !important;
    }
    &.q-item.q-item--dark.q-item--active {
      color: $brand_yellow !important;
    }
  }

  .q-radio > .q-radio__inner--truthy {
    color: $brand_yellow !important;
  }

  .subtext-gray.not-earned-label {
    &.dark, &.light {
      color: rgb(200, 200, 200) !important;
    }
  }
}
