@import "https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap";

body.theme-payhero {
  $color_1: #eaeeff;
  $color_2: rgb(60, 100, 246);
  $color_3: #ecf3f3;
  $color_4: #fff;
  $color_5: #000;
  $color_6: #ffbf00; // brand color yellow 1
  $color_7: #9b8447; // brand color yellow 2
  $color_8: #e0e2e5;
  $color_9: #ececec;
  $wallet_card: #111c2c;
  $wallet_address: #949494;
  $close_button: red;
  $group_currency: #1a2a43;
  $footer-bar: #1f1f1f;
  $footer-label: #cecece;
  $inactive-network: #7e7e7e;
  $black_opaque_50: rgba(0, 0, 0, 0.5);

  $font-family_1: "Rubik", sans-serif;

  $background-color_1: #012121;
  $background-color_2: #f9f8ff;
  $background-color_3: #ecf3f3;

  body {
    font-family: $font-family_1;
    font-weight: 300 !important;
  }
  body.body--light {
    background-color: $background-color_1;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
  }
  body.body--dark {
    background-color: $background-color_1 !important;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
  }

  p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #registration-container {
    min-height: 100vh;
    background-image: linear-gradient(
      to right bottom,
      #3b7bf6,
      #a866db,
      #da53b2,
      #ef4f84,
      #ed5f59
    );
    position: relative !important;
  }

  #bch-card {
    background: transparent !important;
    margin: 0px 20px 10px 20px;
    border: none !important;
    box-shadow: none !important;
  }

  #apps {
    padding: 0px 0px 80px 0px;
  }

  #context-menu {
    color: $color_6 !important;
  }

  .bg-grad {
    background: $black_opaque_50;
  }

  .text-grad {
    background: -webkit-linear-gradient(270deg, $color_6 0%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &.border {
      background-color: transparent !important;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 17px;
        border: 1px solid transparent;
        background: linear-gradient(180deg, $color_6 0%, #fff 100%) border-box;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box,
          linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
      }
    }
  }

  .asset-card-border {
    background-color: transparent !important;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 16px;
      border: 1px solid transparent;
      background: linear-gradient(180deg, $color_6 0%, #fff 100%) border-box;
      -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
  }

  .apps-border {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 999px;
      border: 2px solid transparent;
      background: linear-gradient(180deg, $color_6 0%, #fff 100%) border-box;
      -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
  }

  .pt-brand {
    text-align: center;
    padding: 20px 0px 0px 0px;
  }
  .pt-brandname {
    color: $color_1;
    font-size: 28px;
  }
  .pt-get-started {
    width: 100%;
    min-height: calc(100vh - 152px);
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    background-color: $background-color_2;
  }
  .br-15 {
    border-radius: 15px !important;
  }
  .br-40 {
    border-radius: 40px !important;
  }
  .text-brandblue {
    color: $color_2 !important;
  }
  .bg-brandblue {
    background: rgb(60, 100, 246) !important;
  }
  .text-brandlight {
    color: $color_3 !important;
  }
  .bg-brandlight {
    background-color: $background-color_3 !important;
  }

  .pt-dark {
    background: linear-gradient(180deg, #4872b8 0%, #000 100%) !important;

    &.registration {
      background: linear-gradient(
        165.26deg,
        rgba(69, 110, 177, 0.95) -18.47%,
        rgba(0, 0, 0, 0.95) 65.31%
      ) !important;
    }

    &.modal {
      background: $wallet_card !important;
    }

    &.info-banner {
      background: #273746 !important;
    }

    &.bridge-swap-form {
      background: transparent !important;
    }
  }

  .pt-dark-card {
    background: #1c2833 !important;

    &.registration-card {
      background: $color_7 !important;
      border: 2px solid #13212c !important;

      .divider {
        border-bottom: 2px solid #13212c;
      }
    }

    &.wallet-card {
      background: rgba(17, 28, 44, 0.95) !important;
    }
  }
  .pt-dark-card-2 {
    background: transparent !important;
  }
  .pt-dark-label {
    color: $color_8 !important;

    &.label-text {
      color: $color_9 !important;
      font-size: 14px;
      font-weight: 300;
    }

    &.amount-text {
      font-size: 16px !important;
      font-weight: 300;
    }
  }

  .pt-header {
    background: $black_opaque_50 !important;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;

    &.home-header {
      padding-top: 0;
    }

    &.apps-header {
      padding-bottom: 1px;
      margin-bottom: 20px;
    }
  }

  .pt-app {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
  }

  .pt-dark-box-shadow {
    box-shadow: 2px 2px 2px 2px #212f3d !important;
  }
  .bex.q-body--prevent-scroll {
    position: unset !important;
  }
  .pp-fcolor {
    color: $color_5 !important;
  }

  .group-currency {
    background: $group_currency !important;
    border-radius: 6px;
  }

  .fixed-container {
    background: transparent !important;
  }

  .logo-splash-bg {
    background-image: url(../assets/themes/payhero/payhero_logo_bg.png) !important;
    background-size: cover !important;
  }

  .method-cards {
    background: $black_opaque_50 !important;
    box-shadow: none !important;
  }

  .text-section,
  .section-title,
  .view-ignored-label,
  .pin-icon,
  .dismiss-text {
    color: $color_6 !important;

    &.home-label {
      font-weight: 300;
    }
  }

  .close-button {
    color: $close_button !important;
  }

  .wallet-address {
    color: $wallet_address !important;
    font-weight: 300;
  }

  .wallet-bottom-border {
    border-bottom: 1px solid $wallet_address !important;
  }

  .btn-transaction {
    background: transparent !important;
  }

  .fixed-footer {
    background-color: $footer-bar !important;
  }

  .footer-label {
    color: $footer-label;
    font-weight: 300;
  }

  .price-chart {
    background: #212f3d !important;
  }

  .add-asset-card {
    background: rgba(17, 28, 44, 0.95) !important;
  }

  .collectibles-panel {
    background: transparent !important;
  }

  .apps-header {
    margin-bottom: 10px;

    &.gift-app-header {
      padding: 0 !important;
      margin-bottom: 0 !important;
    }
  }

  .network-selection-tab {
    margin-top: 10px;
    border-radius: 17px;

    &.q-tab--active {
      background-color: $black_opaque_50 !important;
      color: $color_6 !important;
    }

    &.q-tab--inactive {
      color: $inactive-network !important;
    }
  }

  .transaction-container {
    background-color: $group_currency !important;
  }

  .bg-payhero,
  .bg-toggle {
    background: $color_6 !important;
  }

  .bg-button-toggle {
    background: $color_7 !important;
  }

  .q-toggle--dark {
    > .q-toggle__inner--truthy,
    > .q-toggle__inner--falsy {
      color: $color_6 !important;
    }
  }

  .pt-internet-required {
    color: $color_8 !important;
  }

  .button-themed,
  .bg-toggle-active {
    background: $color_7 !important;

    &.button-themed-text {
      background: transparent !important;
      color: $color_7 !important;
    }

    &.button-themed-text-gold {
      background: transparent !important;
      color: $color_6 !important;
    }
  }

  .q-item.q-item--active,
  .q-field__control,
  .q-checkbox__inner--truthy,
  .q-checkbox__inner--indet,
  .text-slider {
    color: $color_6 !important;

    &.text-negative {
      color: var(--q-negative) !important;
    }
  }

  .q-menu--dark {
    box-shadow: none;
  }
}
